

.search * {
  outline: none;
}
.search__wrapper {
  position: relative;
}
.search__field {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.8s;
}
.search__field:focus {
  border-radius: 25px 50px 50px 25px;
  width: 50vw;
  cursor: default;
}
.search__field:focus ~ .search__icon {
  cursor: pointer;
  pointer-events: auto;
}
.search__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  pointer-events: none;
  display: inline-block;
  color: #279991;
  transition: background-color 0.2s ease-in-out;
}

@media (max-width: 765px){

  .navbar-brand strong{
    display: none;
  }

}
